body {font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 32px; width: 1200px; margin: 10px auto;}
.devide {border-bottom: 1px solid #2e2e2e} 
.img-product {max-width: 300px;}
.img-product-detail {max-width: 500px;}